<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="/public/css/style.css?v={{fileMTime '/public/css/style.css'}}"/>
<script src="./app.js?v={{fileMTime '/app.js'}}"></script>
</head>
<body>
    <div id="invoice-holder">
        <div id="invoice-canvas" class="activeMatrix">
            
            <div id="mydiv">
  <div id="mydivheader">Click here to move</div>
  <h1>Hello</h1>
</div>
        </div>
    </div>

</body>
<script>
    let invoice=Invoice;
    invoice.editLayout("#invoice-holder");
</script>
</html>
