*{
  padding:0;
  margin:0;
  font-family:Arial, Helvetica, sans-serif
}
#invoice-holder{
    background: #ccc;
    width: 755px;
    min-height: 700px;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    padding: 20px 0;
}

#invoice-canvas{
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
    right: 15px;
    top: 55px;
    margin: 10px;
}
#invoice-holder.editMode #invoice-canvas{
    background-image:
    repeating-linear-gradient(#ddd 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ddd 0 1px, transparent 1px 100%),
    repeating-linear-gradient(#aaa 0 1px, transparent 1px 50%),
    repeating-linear-gradient(90deg, #aaa 0 1px, transparent 1px 50%);
    background-size: 50px 50px;
}

.div-dragable {
    position: absolute;
    z-index: 9;
    text-align: center;
    padding:0 20px;
}

#invoice-holder.editMode .div-dragable{
  border: 1px solid #d3d3d3;
}

#invoice-holder.editMode .div-dragable:hover {
    background:#ccc;
}
.div-move {
  visibility:hidden;
  cursor: move;
    z-index: 10;
    border-radius:100px;
    background-color: #2196F3;
    color: #fff;
    width:20px;
    height:20px;
    position:absolute;
    top:-10px;
    left:-10px;
} 

.div-options-holder {
  visibility:hidden;
    z-index: 10;
    border-radius:100px;
    position:absolute;
    top:-10px;
    left:15px;
} 
#invoice-holder.editMode .div-move {
  visibility:visible;
    
}
#invoice-holder.editMode .div-options-holder {
  visibility:visible;
    
}



.div-dragable h1{
    z-index:12;
}